<!DOCTYPE html>
{%from "helper/formelementhelpers.html" import render_input%}
{%from "helper/formelementhelpers.html" import render_textarea%}
{%from "helper/formelementhelpers.html" import render_disable_input%}
{%from "helper/formelementhelpers.html" import render_disable_textarea%}
{%from "helper/formelementhelpers.html" import render_company_list%}

<html lang="en">
    <head>
        <title>BayesData</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">



        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/font-awesome.css')}}"/>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/plugins/toastr/toastr.min.css')}}"/>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='js/plugins/gritter/jquery.gritter.css')}}"/>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/animate.css')}}"/>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>

        <!-- end of global css -->
        <!--page level css -->

        {% block css_extention %}
        {% endblock %}

    </head>
    <body>
       <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"></span>
                            <span class="text-muted text-xs block">{{g.user}} <b class="caret"></b></span>
                            </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">银行信息</a></li>
                                <li class="divider"></li>
                                <li><a href="{{url_for('logout_handler')}}">登出</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    {%for menu in g.bank_menus%}
                        <li>
                            <a href="{{menu.href}}"><i class="fa {{menu.icon}}"></i> <span class="nav-label">{{menu.name}}</span></a>
                        </li>
                    {%endfor%}
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message"></span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                </li>


                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> 登出
                    </a>
                </li>
                <li>
                    <a class="right-sidebar-toggle">
                        <i class="fa fa-tasks"></i>
                    </a>
                </li>
            </ul>

        </nav>
        </div>
        {% block content %}
        {% endblock %}
        </div>
    </div>


        <!-- end of global js -->
        <!-- begining of page level js -->
        <!--Sparkline Chart-->
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-2.1.1.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/plugins/metisMenu/jquery.metisMenu.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>

        <script type="text/javascript" src="{{url_for('static', filename='js/inspinia.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/plugins/pace/pace.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/plugins/jquery-ui/jquery-ui.min.js')}}"></script>

        <script type="text/javascript" src="{{url_for('static', filename='js/plugins/flot/jquery.flot.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/plugins/flot/jquery.flot.tooltip.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/plugins/flot/jquery.flot.spline.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/plugins/flot/jquery.flot.resize.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/plugins/flot/jquery.flot.pie.js')}}"></script>

        <script type="text/javascript" src="{{url_for('static', filename='js/plugins/gritter/jquery.gritter.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/plugins/sparkline/jquery.sparkline.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/demo/sparkline-demo.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/plugins/toastr/toastr.min.js')}}"></script>

       <script type="text/javascript" src="{{url_for('static', filename='js/plugins/chartJs/Chart.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/demo/flot-demo.js')}}"></script>

        {% block js_extention %}
        {% endblock %}
    </body>
</html>
